body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(73, 72, 69);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#quiz-container {
    margin: 20px 0; 
    background-color: white;
    width: 600px;
    height: 570px;
    text-align: center;
    border: none;
    border-radius: 25px;
  }
  
  #score-container, #timer-container {
    margin: 10px 0;
  }
  
  #options {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .option {
    display: block;
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .hidden {
    display: none;
  }
  
  /* options correct & incorrect */
  .correct {
    background-color: green;
    color: white;
  }
  
  .incorrect {
    background-color: red;
    color: white;
  }

/* buttons */
#submit-btn {
  display: block;
  margin: 20px auto;
}

.myBtns{
    margin-top: 20px;
}

.myBtns button{
    font-size: 15px;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: rgb(66, 43, 197);
    transition: all 0.15s;
    
}

.myBtns button:hover {
cursor: pointer;
}


.myBtns button:active {
   opacity: .8;
    }

  #play-again-btn, #submit-btn, #viewScoresBtn{
    display: inline-flex;
   margin: 0 10px;
 visibility: hidden;
  }

   #scoreDisplay{
display: none;
  }

  /* hidden modal */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
  
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
