#quiz-container {
    text-align: center;
    margin: 20px auto;
    width: 400px;
  }
  
  #score-container, #timer-container {
    margin: 10px 0;
  }
  
  #options {
    margin: 20px 0;
  }
  
  .option {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }